<% title "mubs index" %>

<div class="span-15 prepend-1 colborder">
	<h6><%= :'open_id list'.t %></h6>
	<% for open_id in @open_ids %>	
		<div class="span-9"><%= link_to open_id.url, open_id_path(open_id) %></div>
		<div class="span-2"><%= link_to :Show.t, open_id %></div>
		<div class="span-2"><%= link_to :Edit.t, edit_open_id_path(open_id) %></div>
		<div class="span-2 last">
			<%= link_to :Destroy.t, open_id, :confirm => :'Are you sure?'.t, :method => :delete %>
		</div>
	<% end %>
</div>

<div class="span-7 last">
	<%#= render :partial => 'shared/login' %>
	<%= render :file => 'sessions/new', :use_full_path => true %>
</div>

<hr>
<hr class="space">



