<p><b>博客标题</b><br /> <%= form.text_field :name %></p>
<p><b>博客副标题</b><br /> <%= form.text_field :subtitle %></p>
<p><b>博客权限</b><br /> <%= form.text_field :permission %></p>
<p><b>博客状态</b><br /> <%= form.text_field :status %></p>
<p><b>描述</b><br /> <%= form.text_area :description %></p>
<p><b>广告权限</b><br /> <%= form.text_field :adver %></p>