<% title @blog.name + :"articles".t  if @blog %>
<h1><%= @blog.name + :"'s ".t + :"articles".t if @blog %></h1>


<div class="span-15 prepend-1 colborder">
	<% @articles.each do |article| %>
	<div>	
		<h2>
			<% if @blog %>
				<%= link_to article.title, [@blog, article] %>
			<% else %>
				<%= link_to article.title, article %>
			<% end %>
		</h2> 
		<p class="control">
		<%= article.created_at  %> | 
		<% if @blog %>
		<%= link_to :Edit.t, edit_blog_article_path(@blog, article) %> | 
		<%= link_to :Destroy.t, [@blog, article], :confirm => :'Are you sure?'.t, :method => :delete %>
		<% else %>
		<%= link_to :Edit.t, edit_article_path(article) %> | 
		<%= link_to :Destroy.t, article, :confirm => :'Are you sure?'.t, :method => :delete %>
		<% end %>
		</p>
		<p class="prepend-1"><%= h article.body %></p>
		<hr />
	</div>
	<% end %>
</div>

<div class="span-7 last">

<%= link_to 'New article', new_blog_article_path(@blog) if @blog %>

<%= link_to "New article", new_article_path %>

<br />
<%= link_to 'blogs', blogs_path %>

</div>

<hr />