<h1>Editing user</h1>

<%= error_messages_for :user %>

<% form_for(@user) do |f| %>
  <%= render :partial => 'form' , :object => f %>
  <p>
    <%= f.submit :Update.t %>
  </p>
<% end %>

<%= link_to :Show.t, @user %> |
<%= link_to :Back.t, users_path %>

<hr />