<% unless @user.blogs.empty? %>
<div id="users_blogs">
	<%= @user.login %>'s Blogs:
	<% @user.blogs.each do |blog| %>
		<p><%= link_to blog.name, [@user, blog] %></p> <%# blog_path(blog) %>
	<% end %>
</div>
<% end %>

<% unless @user.open_ids.empty? %>
<div id="users_openids">
	<%= @user.login %>'s OpenIDs:
	<% @user.open_ids.each do |id| %>
		<p><%= link_to id.url, [@user, id] %></p> <%# open_id_path(id) %>
	<% end %>
</div>
<% end %>

<%= link_to :Edit.t, edit_user_path(@user) %> |
<%= link_to :Back.t, users_path %>
