<p>
  <b>Name:</b>
  <%=h @category.name %>
</p>

<p>
  <b>Parent:</b>
  <%=h @category.parent_id %>
</p>

<p>
  <b>Tree:</b>
  <%=h @category.tree_id %>
</p>

<p>
  <b>Image:</b>
  <%=h @category.image %>
</p>

<p>
  <b>Color:</b>
  <%=h @category.color %>
</p>

<p>
  <b>Lft:</b>
  <%=h @category.lft %>
</p>

<p>
  <b>Rgt:</b>
  <%=h @category.rgt %>
</p>


<%= link_to :Edit.t, edit_category_path(@category) %> |
<%= link_to :Back.t, categories_path %>
