<h1>Listing sites</h1>

<table>
  <tr>
    <th>Name</th>
    <th>States</th>
  </tr>

<% for site in @sites %>
  <tr>
    <td><%=h site.name %></td>
    <td><%=h site.states %></td>
    <td><%= link_to :Show.t, site %></td>
    <td><%= link_to :Edit.t, edit_site_path(site) %></td>
    <td><%= link_to :Destroy.t, site, :confirm => :'Are you sure?'.t, :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New site', new_site_path %>
